includes:
	- vendor/larastan/larastan/extension.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

	level: max

	paths:
	    - app
	    - config
	    - bootstrap
	    - database/factories
	    - routes

	scanFiles:
	    - _ide_helper_models.php

#	reportUnmatchedIgnoredErrors: false
#	ignoreErrors: # TODO: Remove this section after fixing all errors in Github Actions
#	    - '#PHPDoc tag @mixin contains unknown class#'
